{% extends "layout.html" %}

{% block content %}
    <h2>Search Recipes</h2>
    <form method="POST">
        <input type="text" name="search_query" placeholder="Search for recipes">
        <input type="submit" value="Search">
    </form>

    <h3>Search Results</h3>
    <ul>
        {% for recipe in recipes %}
            <li>
                {{ recipe.title }} - {{ recipe.instructions }}
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('index') }}">Back to Recipes</a>
{% endblock %}
